<div class="baseball-card">
    <div class="image">
        @if (Card.FrontImageData == string.Empty)
        {
            <img src="/img/default_baseball.jpg" alt="@Card.PlayerName" />
        }
        else
        {
            <img src="@Card.FrontImageData" alt="@Card.PlayerName" />
        }
    </div>
    <h3 class="text-lg font-semibold mt-2 text-primary">@Card.PlayerName</h3>
    <div>@Card.Brand.Name @Card.Year</div>
    <div class="italic">@Card.Team</div>
</div>

@code {
    [Parameter]
    public BaseballCard Card { get; set; } = new();
}