@page "/brands/edit/{brandId:int}"

@using CardOrganizer.ViewModels
@using CardOrganizer.Domain

@inject IBrandRespository BrandRespository
@inject NavigationManager NavigationManager

<PageTitle>Edit Brand | Card Organizer</PageTitle>

<AuthorizeView>
    <Authorized>
        <main class="block small">
            <div class="bg-white rounded-lg border-4 border-neutral-400 p-8">
                <h1 class="text-3xl">Edit Brand</h1>
                <EditForm Model="@_model" OnSubmit="@EditBrand" Context="EditBrandContext">
                    <DataAnnotationsValidator/>
                    
                    @if (_pageError != "")
                    {
                        <div class="alert error mt-8 mb-0">
                            @_pageError
                        </div>
                    }
                    
                    <fieldset disabled="@_isLoading" aria-busy="@_isLoading">
                        <div class="my-8">
                            <label for="name" class="mb-8">
                                <div class="pb-2 font-semibold">Name</div>
                                <InputText type="text" id="name" DisplayName="Name" @bind-Value="@_model.Name" maxlength="150" />
                                <ValidationMessage For="@(() => _model.Name)"></ValidationMessage>
                            </label>
                        </div>
                        
                        <div class="my-8">
                            <label for="cardTypeId" class="mb-8">
                                <div class="pb-2 font-semibold">Type</div>
                                <InputSelect type="text" id="cardTypeId" DisplayName="Type" @bind-Value="@_model.CardTypeId">
                                    <option value="1">Baseball</option>
                                    <option value="2">Football</option>
                                </InputSelect>
                                <ValidationMessage For="@(() => _model.CardTypeId)"></ValidationMessage>
                            </label>
                        </div>
                        
                        <div class="my-8">
                            <label for="isActive" class="mb-8">
                                <InputCheckbox id="isActive" @bind-Value="@_model.IsActive" />
                                <span class="pl-2 font-semibold">Active</span>
                            </label>
                        </div>
                        
                        <div class="mt-8">
                            <button type="submit">Save</button>
                            <a class="btn-secondary ml-2" href="/brands">Cancel</a>
                        </div>
                    </fieldset>
                </EditForm>
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <PleaseLogin />
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public int BrandId { get; set; }
    
    private readonly EditBrandViewModel _model = new();
    private bool _isLoading;
    private string _pageError = string.Empty;

    private Brand _brand = new();

    protected override void OnInitialized()
    {
        try
        {
            _brand = BrandRespository.GetById(BrandId);

            _model.Name = _brand.Name;
            _model.CardTypeId = (int)_brand.CardType;
            _model.IsActive = _brand.IsActive;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
    
    private async void EditBrand(EditContext editContext)
    {
        _pageError = string.Empty;
        
        bool isValid = editContext.Validate();
        
        if (!isValid)
        {
            return;
        }
        
        _isLoading = true;
        
        try
        {
            await BrandRespository.Update(new Brand
            {
                BrandId = BrandId,
                Name = _model.Name,
                CardType = (Constants.CardType)_model.CardTypeId,
                IsActive = _model.IsActive,
            });
            
            NavigationManager.NavigateTo("/brands", true);
            
            _isLoading = false;
        }
        catch (Exception e)
        {
            _pageError = e.Message;
            _isLoading = false;
            StateHasChanged();
        }
    }
}